[submodule "plugins/io.nightfish.potatolib"]
	path = plugins/io.nightfish.potatolib
	url = https://github.com/yukonisen/plugin-distributions.git
	branch = potatolib
[submodule "plugins/io.limao996.hoohoolib"]
	path = plugins/io.limao996.hoohoolib
	url = https://github.com/limao996/LNR-HoohooLib-Repo.git
	branch = hoohoolib
[submodule "plugins/io.nightfish.lightnovelreader.plugin.linovelib_simplified"]
	path = plugins/io.nightfish.lightnovelreader.plugin.linovelib_simplified
	url = https://github.com/Maker-Wen/lightnovelreader-plugin-linovelib-simplified-dist.git
	branch = main
